body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

/* Header */
header {
	width: 98%;
	max-width: 1440px;
	margin: auto;
}
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}
.lien-navigation {
	flex-grow: 1;
}
#logo {
	padding: 0;
	flex-grow: 9;
}

/*Contenu*/
main {
	width: 98%;
	max-width: 1440px;
	margin: auto;
}
h1 {
	font-size: 30px;
	margin: 10px 0;
}
.sous-titre {
	font-size: 16px;
	margin: 5px 0;
}

/* Section Recherche*/
/*Formulaire*/
form, .icone-localisation, input, .bouton-rechercher {
	height: 50px;
}
form {
	display: flex;
	align-items: center;
	margin-top: 15 px;
	margin-bottom: 35px;
}
.icone-localisation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	background-color: #F2F2F2;
	border-radius: 15px 0 0 15px;
	font-size: 17px;
}
input {
	padding: 0 0 0 20px;
	width: 220px;
	border: none;
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
}
input::placeholder {
	color: black;
	font-size: 16px;
	font-weight: 600;
}
.bouton-rechercher {
	border: none;
	border-radius: 0 15px 15px 0;
	background-color: #0065fc;
	color: white;
	font-weight: 700;
	font-size: 16px;
	padding: 15px;
}

/*Filtres*/
.filtres, ul {
	display: flex;
	flex-direction: row;
	
}

.filtres p {
	font-size: 24px;
}


/*Section Résultats */

/*Section Hébergements à Résultat */
#hebergements-resultat, aside,footer{
	background-color: #F2F2F2;
}


